body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  background-color: rgb(6, 6, 48);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 25px 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  height: 70vh;
}

.grid-item {
}

.concert-list {
  list-style-type: none;
  cursor: pointer;
}

.concert-list-item {
  background-color: rgb(212, 212, 212);
  padding: 5px;
  margin: 5px 0px;
}

.concert-list-item:hover {
  background-color: rgba(212, 212, 212, 0.733);
}
